<div class="conversation-list">
  <div *ngIf="loading$ | async" class="text-center p-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="error$ | async as error" class="alert alert-danger m-3">
    {{ error }}
  </div>

  <div *ngFor="let item of conversationsWithOtherUserId$ | async" class="conversation-item"
    (click)="selectConversation(item.conversation)">
    <div class="avatar position-relative">
      <img
        [src]=" 'https://st4.depositphotos.com/34939642/39599/v/450/depositphotos_395993304-stock-illustration-avatar-man-long-hair-vector.jpg'"
        [alt]="item.conversation.name" class="rounded-circle">
      <ng-container *ngIf="onlineUsers$ | async as onlineUsers">
        <span class="status-badge" [class.online]="item.otherUserId !== null && onlineUsers.includes(item.otherUserId)"
          [class.offline]="item.otherUserId === null || !onlineUsers.includes(item.otherUserId)">
        </span>

      </ng-container>
    </div>
    <div class="conversation-info">
      <div class="name-time">
        <p class="conversation-name mb-0">{{ item.conversation.name }}</p>
        <small class="time-ago" [appTimeAgo]="item.conversation.updatedAt ?? ''"></small>
      </div>
      <div class="last-message">
        <p class="mb-0 text-truncate">{{ item.conversation.lastMessage?.content || 'No messages yet' }}</p>
        <span *ngIf="item.conversation.unreadCount" class="badge bg-primary rounded-pill">
          {{ item.conversation.unreadCount }}
        </span>
      </div>
    </div>
  </div>
</div>