<div ngbDropdown class="dropdown-label"(openChange)="onOpenChange($event)" autoClose="outside" (click)="$event.stopPropagation()">
  <button class="btn no-after-dot btn-dropdown" type="button"
    id="dropdown-{{conversationId}}"
    ngbDropdownToggle aria-expanded="false"
    (click)="$event.stopPropagation()">
    <i class="bi bi-three-dots fs"></i>
  </button>

  <ul ngbDropdownMenu class="dropdown-menu">
    <li>
      <a class="dropdown-item" (click)="markAsRead($event)">
        <i class="bi bi-check2-all me-2"></i> Mark as Read
      </a>
    </li>
    <li>
      <a class="dropdown-item" (click)="toggleArchive($event)">
        <i class="bi bi-archive me-2"></i> {{ isArchived ? 'Unarchive' : 'Archive' }}
      </a>
    </li>
    <li ngbDropdown class="dropend">
      <a class="dropdown-item d-flex justify-content-between align-items-center" ngbDropdownToggle (click)="$event.stopPropagation()">
        <span><i class="bi bi-tag me-2"></i> Add Label</span>
      </a>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li *ngFor="let label of labels">
          <a class="dropdown-item d-flex align-items-center gap-2"
             (click)="selectLabelHandler(label._id!, $event)">
            <span class="label-color-dot">
              <svg width="30" height="30" viewBox="4 4 24 24">
                <path d="M4 4H20L28 12L20 20H4V4Z" [attr.fill]="label.color" />
              </svg>
            </span>
            <span>{{ label.name }}</span>
            <span *ngIf="selectedLabelId === label._id" class="ms-2">
              <i class="bi bi-check-lg text-success"></i>
            </span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item text-center text-secondary fw-semibold" (click)="onManageLabels($event)">
            Manage Labels
          </a>
        </li>
      </ul>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a class="dropdown-item text-danger" (click)="clearConversation($event)">
        <i class="bi bi-trash me-2"></i> Delete
      </a>
    </li>
  </ul>
</div>
