h2 {
  text-align: center;
}


.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.btn-add {
  border-radius: 20px;
  /* background-color: #4CAF50; */
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}


.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}
