<div class="message" [class.sent]="isCurrentUser" [class.received]="!isCurrentUser">
  <div class="message-avatar" *ngIf="!isCurrentUser">
    <img src="https://i.pravatar.cc/150?img=1" alt="Avatar">
  </div>
  <div class="message-content">
    <div class="message-bubble attachment">
      <p *ngIf="message.content">{{ message.content }}</p>
      <div class="attachments-container" *ngIf="message.attachments?.length">
        <div class="attachment-item" *ngFor="let attachment of message.attachments">
          <div class="attachment-icon">
            <i [class]="'bi ' + getFileIcon(attachment)"></i>
          </div>
          <div class="attachment-details">
            <div class="attachment-name">{{ getFileName(attachment) }}</div>
            <a [href]="attachment" target="_blank" class="attachment-action">Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="message-info">
      <span class="message-time">{{ message.createdAt | date:'shortTime' }}</span>
      <span class="message-status" *ngIf="isCurrentUser">
        {{ message.status }}
      </span>
    </div>
    <div class="message-reactions" *ngIf="message.reactions?.length">
      <div class="reaction" *ngFor="let reaction of message.reactions">
        <span class="reaction-emoji">{{ reaction.emoji }}</span>
        <span class="reaction-count">{{ reaction.userId }}</span>
      </div>
    </div>
  </div>
</div>