@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --bs-purple: #985cb1;
  --theme-color: #7e57c2;
  --dark-color: #2c3e50;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}


h1 {
  color: #369;
  font-family: 'Tagesschrift', sans-serif;
  font-size: 250%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

h3 {
  color: #444;
  font-family: 'Tagesschrift', sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button:not(.btn) {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:not(.btn):hover {
  background-color: black;
  color: white;
}

button:not(.btn):disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

input,
textarea,
select {
  font-family: 'Roboto', 'Segoe UI', Arial, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}
